/* html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
} */

canvas {
  display: block;
}

/* html, body {
  margin: 25px; */
  /*background-color: #ce3635;*/
/*   background-color: #A293FF; */
/*   background-color:#ABB2B9;
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 14px;
  overflow: hidden; 
} */

h1 {
  position: absolute;
  width: 800px;
  height: 100px;
  left: 70px;
  top: 0px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 141px;
  /* identical to box height */

  letter-spacing: -0.05em;

  color: #FFFFFF;
}

.child {
  position: absolute;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -90px);
}


.parent {
  width:730px;
  height:120px;
  position: absolute;
  top:170px; 
  left:770px;
  text-align: center;
  align-content: center;
}


indexbutton{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  /* identical to box height */
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: -0.05em;
  height: 75px; 
  left:99px; 

  color: #FFFFFF;

  background: #c11325

}

indexbutton:hover{
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: space-between;
}


footer {
  position: fixed;
  left: 10;
  bottom:0;
  height: 30px;
  width: 100%;
  color:#c11325;
  text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}

/*Header*/

header{
	position:fixed;
	left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: #000000;
	padding:5px 10px;
}
header .container{
	/* -webkit-display: flex; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo a{
	font-size: 30px;
	text-decoration: none;
	color:#ffffff;
	font-weight: 700;
}
header .logo a span{
	color:#c11325;
}